<!doctype html>
<html lang="en" ng-app="main">

<head>
    <meta charset="UTF-8">
    <title>Sample app</title>
    <link rel="stylesheet" href="styles/main.css">
</head>

<body ng-controller="main.common.hello as helloCtrl">

    <ion-header-bar class="bar-positive">
        <div class="buttons">
            <button class="button button-icon icon ion-ios7-minus-outline" ng-click="data.showDelete = !data.showDelete; data.showReorder = false"></button>
            <h1 class="title">Ionic Infinite List</h1>
            <button class="button" ng-click="data.showDelete = false; data.showReorder = !data.showReorder">
                Reorder
            </button>
        </div>
    </ion-header-bar>

    <ion-content>


        <ion-refresher pulling-text="Pull to refresh..." on-refresh="helloCtrl.doRefresh()">
        </ion-refresher>

        <ion-list show-delete="data.showDelete" show-reorder="data.showReorder">

            <ion-item ng-repeat="item in helloCtrl.items" item="item" href="#/item/{{item.text}}">
                <fa-app style="height:40px">
                    <fa-modifier fa-scale="item.scale.get()" fa-origin="[0.5,0.5]" fa-align="[0.5,0.5]">
                        <fa-surface sfa-background-color="'blue'" fa-origin="[0.5,0.5]" fa-align="[0.5,0.5]" fa-size="[100,40]" fa-click="helloCtrl.click(item)" class="border-round">{{item.text}}
                        </fa-surface>
                    </fa-modifier>
                </fa-app>
                <ion-delete-button class="ion-minus-circled" ng-click="onItemDelete(item)">
                </ion-delete-button>
                <ion-option-button class="button-assertive" ng-click="edit(item)">
                    Edit
                </ion-option-button>
                <ion-option-button class="button-calm" ng-click="share(item)">
                    Share
                </ion-option-button>
                <ion-reorder-button class="ion-navicon" on-reorder="moveItem(item, $fromIndex, $toIndex)"></ion-reorder-button>
            </ion-item>

        </ion-list>
        <ion-infinite-scroll on-infinite="helloCtrl.loadMore()" distance="1%">
        </ion-infinite-scroll>

    </ion-content>


    <!--   <h2>{{helloCtrl.message}}</h2>
    <ion-list>
        <ion-item ng-repeat="item in helloCtrl.items">
            <fa-app style="height:40px">
                <fa-modifier fa-scale="item.scale.get()">
                    <fa-surface fa-background-color="'red'" fa-click="helloCtrl.click(item)">{{item.text}}</fa-surface>
                </fa-modifier>
            </fa-app>
        </ion-item>
    </ion-list> -->


    <script src="scripts/bundle.js"></script>
</body>

</html>