@import "../../bower_components/ionic/scss/ionic.scss";

.border-round {
	border: 1px black solid;
	border-radius: 4px;
	text-align: center;
	vertical-align: center;
	background-color: green;
	color:white;
}
